/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}

nav {
    text-align: left;
    border: 2px;
    float: right;
}

img{
     border-radius: 8px;
}
.IntroTextWrapper{
    position: absolute;
    width: 500px;
    height: 50px;
    top: 40%;
    left: 40%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}

.IntroText{
    color: white;
    font-size: 70px;
    font-weight: bolder;
    opacity: 0.8;
    text-shadow: -2px -2px 0 #000;

}


ul.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}


ul.topNav li.right{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    float:right
}

ul.topNav li.left{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    float:left
}

ul.topNav li a:hover {background-color: #555;}

ul.topNav li a {color: white;}

ul.topNav li.icon {display: none;}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown-right {
    display: inline-block;
    float: right;
    padding: 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
     right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content input{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #333}

.dropdown-right:hover .dropdown-content {
    display: block;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}
.footer, .push {
    height: 142px; 
}

.imageBox{
    margin: auto;
    background: grey;
    width: 75%;
    border: 5px black;
    padding: 10px; 
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.picturebox {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

#comment_form textarea {
	width: 350px;
}

#comment_form input[type="submit"] {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; 
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 1000px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.innerBox {
    box-sizing: content-box;
    top: 15%;
    left: 5%;
    width: calc(100% - 40px);
    padding: 10px 10px 0;
}

.imageWrapper{
    padding: 10px 10px 0;
    display: inline-block;
    position: relative;
}

.imageWrapper :hover{
    transform: scale(1.1);
    box-shadow: 0 0 1px transparent;
}

.UpperProfile {
}

.ProfilePicWrapperLeft{
    float: left;
}

.ProfilePicWrapperRight{ 
}

.LowerProfile{
    clear: left;
}

.loginBox{
   width:400px;height:300px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background-color:#333;
    position: fixed;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;

}

.loginPanel{
    color: white;
    vertical-align:middle;
    text-align:center;
    margin-top: px;
}

.RegBox{
   width:500px;height:400px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background-color:#333;
    position: fixed;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;

}

.RegPanel{
    color: white;
    vertical-align:middle;
    text-align:center;
    margin-left: 0px;
}